<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container" style="padding-top: 15%;">
            <h2 class="text-center">Edit User</h2>
            <form action="/admin/edit-user/{{userData._id}}" id="edit-user" method="post">
                <div class="form-group">
                    <label>Enter name</label>
                    <input type="text" class="form-control" name="Name" value="{{userData.Name}}" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label>Enter username</label>
                    <input type="text" class="form-control" name="Username" value="{{userData.Username}}" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label>Enter email</label>
                    <input type="email" class="form-control" name="Email" value="{{userData.Email}}" placeholder="Enter email address" readonly>
                </div>
                <div class="form-group">
                    <label>Enter Job position</label>
                    <input type="text" class="form-control" name="Job" value="{{userData.Job}}" placeholder="Enter your job position">
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(()=>{
    $("#edit-user").validate({
    rules:{
        Name:{
            required:true,
            minlength:3
        },
        Username:{
            required:true,
            minlength:3
        },
        Email:{
            required: true,
            email: true
        },
        Job:{
            required: true
        }
    }
});
});
</script>

<style>
    body {
        background-color: #2f668880;
    }
</style>


